<!DOCTYPE html>
<html>
<head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<h1>Registration</h1>
<form action="/">
    <div>
        Name:
        <input id="userName" name="userName" type="text" >
    </div>

    <div>
        Password:
        <input id="password" name="password" type="text" >
    </div>

    <button>Login</button>
</form>

</body>
</html>