<!DOCTYPE html>
<html>
<head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<h1>Registration</h1>
<form action="/registration-handler">
    <div>
        Name:
        <input id="userName" name="userName" type="text" >
    </div>

    <div>
        Lastname:
        <input id="lastName" name="lastName"  type="text" >
    </div>

    <div>
        Email:
        <input id="userEmail" name="userEmail"  type="text" >
    </div>

    <div>
        Password:
        <input id="password" name="password" type="text" >
    </div>

    <button>Register</button>
</form>

</body>
</html>